/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.zip
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/dompdf
public/mpdf-5.7-php7-master
public/uploads
*.zip