/*custom loader*/
#custom_loader {
	top: 0px;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10000;
	justify-content: center;
	align-items: center;
}
#custom_loader > div {
	color: #444444;
	font-weight: 600;
	padding: 10px;
	box-shadow: 0 0 33px #ccc;
	border-radius: 8px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 63px;
	width: 250px;
	background: #fff;
}



.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
