
/*custom Alert or popup*/

#custom_popup_message {
		top: 0px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
	justify-content: center;
	align-items: center;
}
#custom_popup_message > div {
	background-color: #fff;
	width: 300px;
	box-shadow: 0 0 15px #fff;
	border-radius: 7px;
	overflow: hidden;
	min-height: 130px;
	max-height: 200px;
	display: flex;
	flex-direction: column;
}
#custom_popup_message > div > div:nth-child(1) {
	font-size: 14px;
	padding: 7px 15px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
#custom_popup_message > div > div:nth-child(2) {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding: 8px;
	overflow-y: auto;
}
#custom_popup_message > div > div:nth-child(3) {
	padding: 0 10px 10px 0;
}
#custom_popup_message button {
	padding: 5px 10px;
	border-radius: 3px;
	border: none;
	color: #fff;
	background-color: #2490d9;
	margin-left: auto;
	display: block;
	width: 63px;
}


.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
