
.light-column {
  float: left;
  width: 25%;
  display: none;
}

/* The Modal (background) */
.light-modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.light-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.light-close {
  color: white;
  position: absolute;
  /*top: 10px;*/
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.light-close:hover,
.light-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.light-slide {
  display: none;
  width: 100%;
  height: 400px;
}

.light-slide img{
  width: 100%;
  /*height: 100%;*/
  object-fit: contain;
    margin-bottom: -4px;

    /*
        object-fit: cover;
    object-position: top center; */
  }

.light-cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.light-prev,
.light-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
      margin-left: 1px;
    margin-right: 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.light-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.light-prev:hover,
.light-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.light-numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.light-caption-container {
  position: absolute;
  top: 1px;
  left: 2px;
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.light-demo {
  opacity: 0.6;
}

.light-active,
.light-demo:hover {
  opacity: 1;
}

img.light-hover-shadow {
  transition: 0.3s;
}

.light-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px){
.light-close {
    top: 70px !important;
  }
  }

 @media only screen and (min-width: 767px) and (max-width: 1000px)  {

.light-close {
    top: 70px;
  }
  }