.mySlides_G {display: none;}
.img_G {

 background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.G-container-img{
  position: relative;
  width: 100%;
  background-color: #000;
}
.G-container-img::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.G-container-img img {
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
    height: 400px;
    border-radius: 10px;

}
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Slideshow container */
.slideshow-container_G {
  /*max-width: 1000px;*/
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 2px;
}


/* Next & previous buttons */
.prev_G, .next_G {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next_G {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_G:hover, .next_G:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Caption text */
.text_G {
color: #111;
    font-size: 16px;
  padding: 8px 0px;
  /*position: absolute;*/
  bottom: 8px;
  width: 100%;
  text-align: center;

  background: rgba(250,250,250,0.9);
    border-bottom: 4px solid #d0100a;
}

.center{
text-align:center;  
}

/* Number text (1/3 etc) */
.numbertext_G {
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  z-index: 10;
  top: 0;
}

/* The dots/bullets/indicators */
.dot_G {
cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active_G,.dot_G:hover {
  background-color: #717171;
}

/* Fading animation */
.fade_G {
  -webkit-animation-name: fade_G;
  -webkit-animation-duration: 1.5s;
  animation-name: fade_G;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade_G {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade_G {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev_G,.next_G,.text_G {font-size: 11px}
}