  
@font-face{
    font-family: "Myriad-Pro";  
    src: url(../fonts/myriadpro/MyriadPro-Light.otf) format("truetype");
}
@font-face{
    font-family: "Myriad-Condit";  
    src: url(../fonts/myriadpro/MYRIADPRO-CONDIT.OTF) format("truetype");
}

@font-face{
    font-family: "Myriad-Regular";  
    src: url(../fonts/myriadpro/MYRIADPRO-REGULAR.OTF) format("truetype");
}


@font-face{
    font-family: "Century-Gothic-light";  
    src: url(../fonts/centurygothic/CenturyGothic.ttf) format("truetype");
}
@font-face{
    font-family: "CenturyGothic-bold";  
    src: url(../fonts/centurygothic/GOTHICB.TTF) format("truetype");
}

@font-face{
    font-family: "Century-Gothic-B0";  
    src: url(../fonts/centurygothic/GOTHICB0.TTF) format("truetype");
}



@import url(../ionicons/css/ionicons.min.css);

 body{ 
	 /*background-color:#141448;*/
	/*
	 background-image:url(../images/bg2.jpg);*/
       margin:0;
background: #ffffff;
     font-family: Myriad-Regular;
      /*font: 400 0.875rem/1.375rem Myriad-Regular;*/

 }


/** {
    outline: 1px solid red;
}*/

 .main-content-section{
    width: 100%;
}

.main-content-container{
    width: 90%;
margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
     font-family: CenturyGothic-bold;
     color: #222;
}
p{
color: #222;
}

.text-para{
    margin: 0 auto;
    width: 80%;
}

.font-Myriad-regular{
    font-family: "Myriad-Regular";
}
.font-century-bold{
    font-family: "CenturyGothic-bold";
}
.font-century-light{
    font-family: "Century-Gothic-light";
}

h5.over-title {
    font-size: 16px;
}




.image-eui{
    content: normal;
    vertical-align: top;
    border: 0;
    max-width: 100%;
}


.card-wrappable{
  background:transparent;
  border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
box-shadow: 0px 4px 4px #ddd;
}


.bg-white-content-wrapper{
  background:#fff;
  padding: 15px;
}

.card-wrappable-white{
    /*background:transparent;*/
  /*background:#e2e2e2;*/
    border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  /*box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);*/
  box-shadow: 0px 4px 4px #ddd;
}


	




.container-box-area{
  width: 98%;
  color: #000;
  margin: 0px 10px 0px 10px;
  opacity: 0.9;
  font-family: "Myriad-Regular";
}

.box-area-wrap .box-simple-item {
  width: 75px;
  margin: 15px 46px 15px 15px;
    text-align: center;
}
.box-simple-item .icon-outlined {
    color: #007aff;
    border: 1px solid #007aff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

  width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 50%;
    margin-bottom: 0px;
}
.box-simple-item .icon-outlined a, .box-simple-item h3 a {
    color: #000;
    text-decoration: none;
  font-family: "Myriad-Regular";
    font-size: 16px;
    font-weight: 600;
}

.box-simple-item .icon-outlined a i.iconic_bg{
width: 50px;
height: 50px;
    display: block;
background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
        margin: 11px 15px 15px 12px;
}



.box-simple-item h3 {
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
        font-size: 14px;
}
.box-simple-item .icon-outlined a, .box-simple-item h3 a {
    color: #000;
    text-decoration: none;
}
.box-simple-item:hover .icon-outlined {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.home-box-area{
	width: 98%;
	color: #000;
	margin: 0px 10px 0px 10px;
	/*opacity: 0.9;*/
	font-family: "Myriad-Regular";
}

.home-area-wrap .home-box-simple {
	margin: 15px 46px 15px 15px;
    text-align: center;
}
.home-box-simple .icon-outlined {
    color: #002855;
    border: 1px solid #002855;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

	width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 50%;
}
.home-box-simple .icon-outlined a, .home-box-simple h3 a {
    color: #002855;
    text-decoration: none;
	font-family: "Myriad-Regular";
    font-size: 18px;
    font-weight: 600;
}
.home-box-simple h3 {
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
}
.home-box-simple .icon-outlined a, .home-box-simple h3 a {
    color: #333333;
    text-decoration: none;
}
.home-box-simple:hover .icon-outlined {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}






.aboutarea{
    height: auto;
    border-radius: 10px
}
.aboutarea.pagecontainerarea{
    height: auto;
}
.aboutarea.pagecontainer-details-area{
   border-radius: 0px
}
.aboutarea.background-img::before {
display: block;
     content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the RGBA values and alpha (0 to 1) for your desired overlay */
    border-radius: 10px
}

.aboutarea.pagecontainerarea::before {
    background: rgba(0, 0, 0, 0.7); /* Adjust the RGBA values and alpha (0 to 1) for your desired overlay */
}

.about-container{
    width: 70%;
    margin: 0px auto;
    position: relative;
        padding: 20px 0px;
}

.about-container.page-container{
    width: 50%;
}

.about-container.pagearea-detail {
    width: 90%;
    margin: 0px 3px 0px auto;
    padding: 3px 0px;
}

.about-container.more-details-container{
      width: 90%;
    margin: 0px  auto;
    padding: 3px 0px;
}

.about-container .about-content{
       padding: 15px 20px;
    line-height: 18px;
    position: unset;
    top: 20px;
    background-color: #fff;
    line-height: 25px;
    border-radius: 10px;
    text-align: left;
}
.about-content.pagearea-content{
      background-color: #ffffff;
      top: 20px;
}

.about-content.pagearea-detail-content{
border-radius: 0px;
}

.about-container .about-content p{
margin: 10px 0px;
font-size: 17px;
color: #222;
}

.about-container .about-content.pagearea-content p{

}


/*.content-container-img{
  position: relative;
  width: 100%;
  background-color: #000;
}
.content-container-img::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
*/


.home-summary{
display: flex;
align-items: center;
flex: wrap;
}

.summary_img_wrapper {
    height: 80px;
    width: 80px;
    margin-top: 0px;
    margin-right: 20px;
    border-radius: 8px;
}
.summary_img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: contain;
    background-color: #fff;
}
.home-summary-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    margin-left: 15px;
}


a.more-btn-eui, 
button.more-btn-eui {
    width: 30%;
    font-size: 18px;
    border: 1px solid #222!important;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.more-btn-eui.donate-btn,
button.more-btn-eui.donate-btn {
    background-color: #1a9fca!important;
    border: 1px solid #fff !important;
    color: #fff !important;
    }


/*******Donation form*********/

.donation-box {
    background-color: #F5F5F5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.donation-box .donation-title {
    background-color: #1a9fca;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
}

.donation-box .donating-area input {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    border-radius: 4px;
    border-width: 0px;
    color: #5C5C5C;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}


.donation-box .donating-area .form-input-group{

        margin-top: 5px;
    margin-bottom: 5px;
}

.donation-box .donating-area .amount-input-container{
    align-items: center;
}
.donation-box .donating-area .amount-input-container .donation-currency{
        font-size: 20px;
            margin-right: 10px;
}

.donation-box .donating-area .amount-input-container .donate-amount{
border-bottom: 2px dashed #757575;
    font-size: 20px;
    color: #000;
}
/********end Donation form*********/




.t-item {
    transition: .5s;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.t-item .t-thumbnail,.t-item a.t-item-content {
    position: relative !important;
    width: 100%;
    height: 300px;
}

.t-item .t-thumbnail img {
    position: relative;
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
    object-fit: cover;
    border-radius: 10px;
}
.t-item .t-thumbnail::after {
display: block;
     content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Adjust the RGBA values and alpha (0 to 1) for your desired overlay */
border-radius: 10px;
}

.thumbnail-caption {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f5f5f5;
}
.thumbnail-caption h6 {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1.2;
    color: #212121;
    margin-top: 15px;
}
.thumbnail-caption small {
    color: #111;
    font-size: 100%;
    font-weight: 500;
    margin: 0px 10px;
    margin-bottom: 5px;
}
.t-content {
    padding: 7px;
    background-color: #fff;
    text-align: center;
}
.t-content .t-content-1 {
    margin-bottom: 5px;
}
.t-content .t-description {
    text-decoration: none;
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
    color: #212121;
}
.package-content-btn {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid #dee2e6;
}
.package-btn {
    margin-top: 5px;
    letter-spacing: 1.2px;
    transition: 0.5s ease-in-out;
}
.btn-view.packages-btn {
    width: 110px;
    height: 35px;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    transition: .5s;
}
.btn-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #136436;
    border: 1px solid #00d8ff;
    width: 200px;
    height: 60px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(14,15,18,.2);
    transition: 0.5s ease-in-out;
    outline: 0;
}
.btn-view.packages-btn:hover {
    background: #011013;
}


.n-container-item {
    position: relative;
    width: 32%;
    margin: 5px;
}

.n-container-item a{
   /* position: relative;*/
    width: 100%;
    height: 300px;
}
.n-container-item .n-container-img img {
    vertical-align: middle;
    /*object-fit: contain;*/
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.n-container-item .n-container-img::after {
display: block;
     content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Adjust the RGBA values and alpha (0 to 1) for your desired overlay */
border-radius: 10px;
}

.n-container-item .n-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    font-size: 14px;
    width: auto;
    padding: 10px;
}
.n-content p a {
    color: #f1f1f1;
}

.heading-bg{
    z-index: 10;
    width: 100%;

}
.heading-bg-content{
background-color: #080505;
opacity: 0.85;
transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#custom-img{
  /* box-shadow: 0 0 5px #666;*/
  box-shadow: 0px 4px 4px #ddd;
   height: 150px;
   display: block;
   border-radius: 7px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}



h1.heading-underline{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
h1.heading-underline::after{
    display: flex;
     content: "";
 width: 40px;
    height: 3px;
    background-color: #1a9fca;
    margin-bottom: 25px;   
}

.gallery-btn-container{
      padding: 150px 0px 150px 0px; 
}

a.more-btn-eui.h-galley-btn {
       background-color: transparent !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Century-Gothic-B0';
}

/****repeater*****/


.u-repeater-item-mb{
    width: 20%;
        margin-left: 10px;
color: #111111;
    background-color: #edf5fc;
    box-shadow: -2px 6px 17px -6px rgba(0,0,0,0.5);
border-radius: 0px 0px 0px 20px;
border: 1px solid #1a9fca;
}

.u-repeater-item-mb .item-content-mb .u-heading-mb{
    font-weight: 600;
    font-size: 2rem;
    width: 877px;
    margin: 60px auto 0;
    line-height: 1.1;
    padding: 0;
    word-wrap: break-word;
}

.u-repeater-item-mb .item-content-mb{
  padding: 0 20px 30px;  
}

.u-repeater-item-mb .item-content-mb .u-icon-rectangle{
   height: 40px;
    width: 40px;
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    margin: -36px auto 0;
    padding: 16px;
    border-color: #edf5fc;
    background-color: #ffffff;
    border-width: 7px;
    border-style: solid;
        display: block;
    line-height: 0;

}

.u-repeater-item-mb .item-content-mb .u-icon-rectangle i{
font-size: 45px;
color: #a5a2a2;
}

.u-repeater-item-mb .item-content-mb .u-heading-mb-5{
    margin: 30px 5px 0px;
    padding: 5px;
    word-wrap: break-word;
        font-size: 1.1rem;
    line-height: 1.2;
        font-weight: 500;
}

.u-repeater-item-mb .item-content-mb .u-heading-mb-pf{
 margin: 0px 5px 0px;
    padding: 5px;
    word-wrap: break-word;
    line-height: 1.2;
        font-weight: 500;
}

.u-repeater-item-mb .item-content-mb .u-text-mb{
    font-style: normal;
    margin: 10px 5px 0px;
    word-wrap: break-word;
    padding:5px;
    color: #111111;
}

.text-style{
       color: #2c2929;
    font-size: 15px;
    line-height: 1.5; 
}

.u-repeater-item-mb .item-content-mb a{
    color:#a5a2a2;
}
.u-repeater-item-mb .item-content-mb .u-icon-mb{
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
}
.u-repeater-item-mb .item-content-mb .u-icon-mb i{
 font-size: 30px;   
}
/****\repeater*****/

/*searchable text field*/
.search-form-container {
    position: relative;
    min-width: 300px;
    transform: translateZ(0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex: 1;
}  

.search-input-container-eui{
    border: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    border-radius: 2px;
    top: -0.005rem;
    flex: 1;
    border: 2px solid #222;
    background-color: #fff;
}
.search-input-eui{
    flex: 1;
    width: 100%;
    padding: 10px 20px;
    min-width: 0;
    font-size: 14px;
    color: #222;
    line-height: 28px;
    font-weight: 500;
    position: relative;
    background-color: hsla(0,0%,100%,0);
    caret-color: #222;
}
input.search-input-eui[type="text"] {
  outline: none;
  border: none;
}

.search-close-icon i{
color: #E91E63;
 /*color: #cdcdcd;*/
    font-size: 16px; 
    cursor: pointer;   
}

.submit-search-eui{
    margin-right: 6px;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 4px;
    border-radius: 42%;
    cursor: pointer;
}

.submit-search-eui i{
    width: 18px;
    height: 18px;
    font-size: 18px;
    text-align: center;
}

/*--/searchable text field*/

/*-------------------dropdown------------------*/
.item-title-eui.item-dropdown-eui i{
content: "\f35f"; /* Unicode for ion-android-arrow-dropdown */
 font-size: 20px;
    position: absolute;
    /*top: -4px;*/
    margin-left: 4px; 
      transform: rotate(0deg);
  transition: transform .2s linear, -webkit-transform .2s linear;
  

}

.item-dropdown-eui:hover i::before{
content: "\f365"; /* Change to ion-android-arrow-dropup on hover */
}

.custom-dropdown-eui {
position: relative;
}

.custom-dropdown-eui .dropbtn-eui {
  font-size: 17px;    
  cursor: pointer;
  color: #111;
  margin: 0px 10px;
}
ul.custom-dropdown-content-eui,.custom-dropdown-content-eui {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0px;
 /*display: none;*/
  position: fixed;
      top: 114px;
      z-index: 95;
  background-color: #fff;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transform: translateY(2em);
  transition: all 0.3s;
  /*transform: translateY(-100%);
    transition: height 0.3s ease, visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;*/
  width: max-content;
   
}

ul.custom-dropdown-content-eui,.custom-dropdown-content-eui {
top: 60px;
    }

    ul.custom-dropdown-content-eui.search-form-results,.custom-dropdown-content-eui.search-form-results {
top: 170px;
    }

.custom-dropdown-eui.normal-dp ul.custom-dropdown-content-eui,
.custom-dropdown-eui.normal-dp .custom-dropdown-content-eui {
  position: absolute;
    top: 33px;
     left: -50%;
    right: 50%;
}

ul.custom-dropdown-content-eui:before, .custom-dropdown-content-eui:before{
  content: '';
    width: 10px;
    height: 10px;
    background: #100f22;
    border: 1px #d5d5d5ee solid;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -5px;
    left: 49%;
    z-index: 1;
}

.search-form-container .custom-dropdown-content-eui.search-form-results{

}



ul.custom-dropdown-content-eui li {
 display: block;
  color: #222;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul.custom-dropdown-content-eui li a{
     display: flex;
     align-items: center;
    text-decoration: none;
    color: #222;
    text-align: left;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: pre-line;
    font-weight: 500;
}
ul.custom-dropdown-content-eui li a i{
    font-size: 17px;
    margin-right: 5px;
}


/*.custom-dropdown-eui:hover .dropbtn-eui,*/
.custom-dropdown-eui:hover {
  background-color:rgba(75, 192, 192, 0.2);
  border-color : rgb(75, 192, 192);
  border-width: 1px;
  color: #fff;
      padding: 27px 0px
}
.custom-dropdown-eui.normal-dp:hover{
padding: 0px 0px;
background-color:unset;
}

ul.custom-dropdown-content-eui li a:hover{
  /*background-color: #fff;*/
      background: #f6f6f6;
  color: #222;
   /*color: #ef9e41 !important;*/
   width: 100%;
}

ul.custom-dropdown-content-eui.search-form-results li a:hover{
 background-color: #ececec;   
}

.custom-dropdown-eui:hover .dropbtn-eui .item-dropdown-eui i::before{
content: "\f365"; /* Change to ion-android-arrow-dropup on hover */
}

ul.custom-dropdown-content-eui li.active, ul.custom-dropdown-content-eui li a.active{
 background-color: #fff;
  color: #222;
}


.custom-dropdown-eui:hover ul.custom-dropdown-content-eui, 
.custom-dropdown-eui:hover .custom-dropdown-content-eui,
.custom-dropdown-content-eui.show{
  /* display: block;*/
 height: auto;
 visibility: visible; 
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
background-color: #fff;
}
.search-form-container.no-transform{
    transform: none;
}

 .custom-dropdown-eui:hover ul.custom-dropdown-content-eui,
.custom-dropdown-eui:hover .custom-dropdown-content-eui{
 height: 500px;
 /*overflow: auto;*/
 overflow: hidden auto;
}
/*--/dropdown--*/

/*------Reviews on property-----*/


.review-section{
      width: 90%;
margin: 0 auto;  
}

.property-details-reviews{
       
      background-color: #fff;
}

.testimonial-column{
        position: relative;

            display: flex;
    flex-direction: column;
    width: 32%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.testimonial-column-item{
        background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 30px;
    position: relative;
            text-align: left;
}

.testimonail-content {
    font-style: normal;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 30px;
}

.testimonial_item_triangle {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-top: 20px solid #1a9fca;
    bottom: -20px;
    content: "";
    left: 50px;
    position: absolute;
}

.testimonial-column-item h5 {
    line-height: 14px;
    font-weight: 700;
    font-size: 14px;
}
.testimonial-img{
      border-radius: 50%;
    margin: 30px 0 0 35px;
    overflow: hidden;
    transform: none;
    width: 70px;  
}

.testimonial-img img {
    display: block;
}

 .property-details-reviews .reviews-col-1{
 width: 50%;
 }
 .property-reviews{
    padding: 15px;
 }
 .property-details-reviews .reviews-col-2{
     width: 50%;
 }
 .review-heading{
      /*margin: 0px;*/
    display: flex;
    align-items: center;
 }
.review-heading,.review_text_notif,.rating-label-text{
    color: #30323a;
    font-weight: 500;
}

.rating-label-text{
    color: #000!important;

}

.single-review {
  margin-bottom: 30px;
}
/*.single-review .review-heading>div {
  display: inline-block;
}*/

.single-review .review-heading>div >a {
text-decoration: none;
font-size: 15px;
color: #30323a;
font-weight: 500;
}
.single-review .review-heading>div >a >i {
font-size: 20px;
}

.single-review .review-heading>div+div {
  margin-left: 10px;
}

.single-review .review-rating {
  display: inline-block;
}
.pull-right {
  float: right;
}
.single-review .review-rating>i {
  color: #f09b2c;
  font-size: 25px;
}

.single-review .review-rating>i.ion {
  padding: 0px;
  width: auto;
  margin: 0px 0px
}

.single-review .review-rating>i.empty {
  color: #aeacac;
}
.single-review .review-body {
  margin-top: 10px;
      color: #777777;
        font-size: 15px;
    line-height: 22px;
}
.reviews-pages{
    display: flex;
}

.reviews-pages li.active {
  color: #30323a;
}
.reviews-pages li {
  /*display: inline-block;*/
 margin: 0px 20px 0px 20px;
    font-size: 20px;
}
.reviews-pages li a {
  display: block;
  min-width: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.reviews-pages li a i{
    font-size: 30px;
    position: absolute;
    top: -2px;
    color: #222;
}
#page_review{
color: #333;
}


.review-form .input-rating .stars {
  display: inline-block;
  vertical-align: top;
}
.review-form .input-rating .stars input[type="radio"] {
  display: none;
}

.review-form .input-rating .stars>label {
  float: right;
  cursor: pointer;
  padding: 0px 3px;
  margin: 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover, 
.review-form .input-rating .stars>label:hover~label {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.review-form .input-rating .stars>label {
  float: right;
  cursor: pointer;
  padding: 0px 3px;
  margin: 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}


.review-form .input-rating .stars>input:checked label:before, 
.review-form .input-rating .stars>input:checked~label:before {
  content: "\f2fc";
  color: #fb7701;
  font-family: Ionicons;
}
.review-form .input-rating .stars>label:before {
  content: "\f2fc";
  font-family: Ionicons;
  font-style: normal;
  font-weight: normal;
  color: #a4a2a2;
  font-size: 30px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}



.review-submit-btn {
   color: #333;
  background-color: #ccc;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}
.review-submit-btn:hover {
    color: #333;
    font-weight: bold;
}


/*-/-----Reviews on property details*/

/*/////////////////////contact section\\\\\\\\\\\\\\\\\\\\\\*/

.heading{
  margin-bottom: 1rem;
}
.box-area-contact .box-simple {
  margin-bottom: 40px;
  text-align: center;
}
.box-area-contact .box-simple:hover .icon-outlined {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.box-area-contact .box-simple .icon-outlined {
  color: #007aff;
  border: 1px solid #007aff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-outlined {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}
.box-area-contact .box-simple .icon-outlined a ,.box-area-contact .box-simple h3 a {
  color: #30323a;
  text-decoration: none;
}

.box-area-contact .box-simple .icon-outlined a i{
font-size: 20px;
}

.box-area-contact .box-simple h3 {
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: 500;
}
.box-area-contact .box-simple p {
color: #212529;
margin: 20px 0;
font-size: 0.9rem;
}

/*/////////////////////////////////////////Map style ///////////////////*/

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*//////////////////////// map /////////////////////////////*/


/*------------------------------------------------------------------
    Footer section
-------------------------------------------------------------------*/

/* floating button*/
.float_whatsApp_btn{
  position:fixed;
  z-index: 13;
  width:50px;
  height:50px;
  bottom:65px;
  right:38px;
  background-color:#04aa6d;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
    align-items: center;
    justify-content: center;
}

i.my-float_whatsApp_btn{
    font-size: 30px;
}
i.my-float_whatsApp_btn ,.my-float_whatsApp_btn i.ion-social-whatsapp-outline{
background: none;
} 


.btn i.ion,.btn span.ion{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    width: 14px;
}





/*------------------------------------------------------------------
   	Scrollup
-------------------------------------------------------------------*/
.scrollup{
	width:40px;
	height:40px;/*height:40px;*/			
	text-indent:-9999px;
	opacity:1;
	position:fixed;
  z-index: 13;
	bottom:20px;
	right:40px;
	display:none;			
	background:url(../images/icon_top.png) no-repeat;
  /*background:url(../images/jetcar.png) no-repeat;*/
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



  





    
    #footer{
   background: #30323a;
      position: relative;
      z-index: 10;
        /*  top: 150px;*/
    width: 100%;
    background-size: cover;
     /*background-image: url(../images/footerbg6.jpg);*/

    }
    .footer-content{
           background-color: #080505;
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

  .footer-inner-container{
        width: 90%;
    margin: 0px auto;
  }
    
    .second-footer{
         background:#ffffff;
      
    }
    
    .second-footer-container{
          width: 90%;
    margin: 0px auto;    
    }
    
    #footer-link{
      font-family: Century-Gothic-B0; /*Myriad-Regular*/
      font-size: 17px;
      color:#f9f7f2;
        font-weight: bolder;
    }
    
    #footer-item{
      font-weight: bolder !important;
      color:#f9f7f2;
    }
    
    #ul-footeritem{
      list-style-type: none;
      color:#f9f7f2;
    }

     #ul-footeritem li{
            display: flex;
    align-items: center;
  margin: 5px auto;
    }


    #ul-footeritem li:before{
margin-right: 5px;
    }
    
    #ul-footeritem li a{
      /*color: #f9f7f2;*/
        color: #f9f7f2;
        font-size: 15px;
        font-weight: 500;
        font-family: "Myriad-Regular";
     word-spacing: 1pt;
        letter-spacing: 1pt;
    }

     #ul-footeritem li a:hover, .contact-footer-ul li a:hover{
        color: #1a9fca;
     }

     #ul-footeritem li a:hover:not(.active),  .contact-footer-ul li a:hover:not(.active){
       color: #1a9fca;
     }


    
    .footer-blurb-item #footer-item{
    font-weight: bolder !important;
    font-size: 14px;
        line-height: 2;
        font-family: Times New Roman, Times, serif !important;
    }
    
    .contact-footer-ul{
        list-style-type: none;
    }
    
    .contact-footer-ul li{
        display: flex;
        align-items: center;
        list-style-type: none;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        font-family: "Myriad-Regular";
        word-spacing: 1pt;
        letter-spacing: 1pt;
        margin: 5px auto;
    }

    .contact-footer-ul li:before{
     margin-right: 5px;
    }

    .contact-footer-ul li a{
        color: #fff;
        text-decoration: none;
  
    }
    
  
#ul-footeritem li:before,.contact-footer-ul li:before {
   /* width: 16px;
    float: left;
    height: 16px;*/
    content: "\f363";
    font-family: Ionicons;
    /*position: relative;
    top: -5px;
    left: 5px;*/
    font-size: 1.5rem;
}

    
    .navbar-brand-social-footer  i{
    font-size: 25px;
        color: #f9f7f2;
        margin: 3px;
    }




.partner-logo{
margin: 10px;
width: 200px;
}
.partner_logo_wrapper{
  width: 200px;
        overflow: hidden;
        border-radius: 10px;
}
.partner_logo_wrapper .partnerlogo_img{
      display: block;
    margin-left: auto;
    margin-right: auto;
        max-width: 100%;
        height: 100px;
}
.partner-logo .partner-text{
  font-size: 17px;
        font-weight: 500;
        font-family: "Myriad-Regular";
        color: #fff;
}
.partner-text a{
  color: #fff;
}

.paypal-img{
  width: 100%;
}
    
    #developerpara{
      
    text-align:right;
    color:#000;
    font-weight: 300;	
    }
        #copyrightpara, #copyrightpara i{
            font-size: 14px;
          text-align:center;
    color:#000;
        font-weight: bolder;
              font-family: "Myriad-Regular" !important;
      }
    








