




/*///////////custom  responsive table /////////////*/
/*///////////custom  responsive table /////////////*/

/*
.custom_card {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #30323a;
  box-shadow: 0 2px 5px #ccc;
  width: 100%;
  background: #fff;
  transition: 0.5s;
  margin-top: 0px;
      border-radius: .25rem!important;
}*/

/*----card ui dashboard example---*/
.table-card{

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    border: none;
    margin-bottom: 1.875rem;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(234,243,253,.9);
}

.table-card-head {
    border-radius: 2px 2px 0 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    /* text-transform: uppercase; */
    color: #3a405b;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    min-height: 40px;
}

.table-card-header {
    display: inline-block;
    padding: 11px 20px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
    letter-spacing: 1px;
}

.table-card-body {
    padding: 0.25rem;
}




/*------my small drop down----------*/
.dropdown-ui{
    position: relative;
}

.dropdown-ui .dropdown-btn-ui {  
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-btn-ui i.ion{
    margin: 1px;
}

ul.dropdown-content-ui {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0px;
 /*display: none;*/
  position: absolute;
      top: 0px;
        left: -32px;
    width: 95px;
      z-index: 5;
  background-color: #f9f9f9;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transform: translateY(2em);
  transition: all 0.3s;
}

ul.dropdown-content-ui:before{
  content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px #d5d5d5ee solid;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -8px;
    left: 50%;
    z-index: 1;
}
ul.dropdown-content-ui li {
 display: block;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
ul.dropdown-content-ui li a,ul.dropdown-content-ui li .btn-ui{
  color: black;
      padding: 1px 5px;
      display: block;
      width: 100%;
}
.dropdown-ui:hover .dropdown-btn-ui {
  background-color: #fff;
  color: #111;
}


ul.dropdown-content-ui li a.edit:hover{
/*background-color: rgba(0, 255, 10, 0.2) !important;
    border-color: transparent !important;
    color: #4caf50 !important;*/
    background-color: #4caf50 !important;
    border-color: transparent !important;
    color: #fff !important;
}
ul.dropdown-content-ui li .delete:hover{
   /* background-color: rgba(255, 68, 0, 0.2) !important;
    border-color: transparent !important;
    color: #fa6c39 !important;*/
    background-color: #fa6c39 !important;
    border-color: transparent !important;
    color: #fff !important;
}

ul.dropdown-content-ui li a:hover, ul.dropdown-content-ui li a:hover {
  background-color: #fff;
  color: black !important;
   /*color: #ef9e41 !important;*/
}
ul.dropdown-content-ui li.active, ul.dropdown-content-ui li a.active{
 background-color: #fff !important;
  color: black !important;
}
.dropdown-ui:hover ul.dropdown-content-ui {
  /* display: block;*/
 height: auto;
 visibility: visible; 
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */

}
/*------my small drop down----------*/   
















.table-container {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  /*table-layout: fixed;*/
      color: #333;
      font-size: 14px;
}

.table-container caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.table-container tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
      background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.table-container tr:not(.thead):hover {
    transition: none;
    background-color: #f0f7ff;
    cursor: pointer;
}

.table-container tr:not(.thead) > * {
    border-bottom: 1px solid #eee;
}

.table-container th,
.table-container td {
  /*padding: .625em;*/
  padding: .425em;
  text-align: left;
      border: 1px solid #eee;
}


.table-darker{
    background-color: #22262E !important;
    color: #eee!important;
}
.table-light{
    /*background-color: #ddeeff !important;*/
    background-color: #e5ebf1 !important;
    color: #424040!important;

}

.table-darker th{
border-color: #424040 !important;
}
.table-light th{
border-color:#eee;
    }

.table-container th {
  font-size: .90em;
  letter-spacing: .1em;
text-transform: capitalize;
 font-weight: 500;
}

  .table-container-icon {
    padding: 5px;
    font-size: 40px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #31581f;
}

.table-container-title {
    font-weight: 600;
    text-transform: lowercase;
    font-size: 17px;
}

.table-container-text{
font-weight: 700;
margin: 0px;
}

.table-container-text-bold{
    padding: 2px;
    font-weight: 700;
    font-family: "Myriad-Regular";
    color: #333333;
    /*font-size: 17px;*/
    line-height: 1.3;
}


@media screen and (max-width: 800px) {
  .table-container {
    border: 0;
  }

  .table-container caption {
    font-size: 1.3em;
  }
  
  .table-container thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .table-container tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .table-container th, .table-container td {
    border: none;
}
  
  .table-container td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .95em;
    text-align: right;
  }
  
  .table-container td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .table-container td:last-child {
    border-bottom: 0;
  }

ul.dropdown-content-ui{
    right: 0px !important;
    left: unset !important;
}

}

/*///////////end custom responsive tablem  /////////////*/


/*///////////end custom responsive tablem  /////////////*/





